@layer utilities {
  .no-scroll {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: var(--bg-color-thumb);
  }
  .scrollbar::-webkit-scrollbar-track {
    background: var(--bg-color-track);
  }
}

body {
  --bg-color-thumb: theme("colors.secondary.DEFAULT");
  --bg-color-track: theme("colors.background.DEFAULT");
  @apply scrollbar;
}

.dark body {
  --bg-color-thumb: theme("backgroundImage.linear");
  --bg-color-track: theme("colors.background.dark");
}
